<div class="bg-gradient-to-r from-blue-500 to-blue-700 text-white min-h-screen flex flex-col justify-center items-center">
    <div class="text-center px-6">
        <h1 class="text-fxl font-bold mb-4">Bem vindo a sua lista de lugares favoritos</h1>
        <p>Explore,organize e compartilhe os lugares incríveis que vc adora. Tudo em um só lugar</p>

        @if (isLoggedIn()) {
            <button (click)="navegar();" class="bg-white-400 text-blue-400 font-semibold py-3 px-8 rounded-full hover:bg-gray-100 flex cursor-pointer space-x-3 items-center">
                Olá {{profile?.name}}, clique aqui para aproveitar o site
            </button>
        }

        @if (!isLoggedIn()) {
            <button (click)="logarComGoogle()"  class="bg-white-400 text-blue-700 font-semibold py-3 px-8 rounded-full hover:bg-gray-100 flex cursor-pointer space-x-3 items-center">
                <img width="50px" src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="logo google">
                Logar com Google
            </button>
        }
    </div>
</div>>