<!-- Filtros -->
<div class="">

</div>
<form [formGroup]="filtrosForm">
    <div class="p-4 bg-white shadow">
        <div class="flex flex-col flex-row items-center justify-center gap-4">
            <input formControlName="lugar" id="lugar" name="lugar" type="text" placeholder="Buscar pelo nome do local" class="w-full border border-gray-300 p-2 rounded shadow-sm focus: ring focus:ring-blue-500">
            <select formControlName="categoria" class="w-full border border-gray-300 p-2 rounded shadow-sm focus:ring focus:ring-blue-500">
                <option [value]="-1">Todas as categorias</option>
                @for (cat of categoriasFiltro; track $index) {
                    <option [value]="cat.nome">
                        {{cat.nome}}
                    </option>
                }
            </select>
            <button (click)="filtrar()" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 cursor-pointer">Pesquisar</button>
        </div>
    </div>
</form>

<!-- Listagem de lugares-->
    <div class="p-4 grid grid-col-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        @for (lugar of lugaresBuscados; track $index) {
            <div class="bg-white shadow rounded overflow-hidden">
                <img [src]="lugar.urlFoto" [alt]="lugar.nome" class="w-full h-40 object-cover">    
                <div class="p-4">
                    <h2 class="text-lg font-semibold">{{lugar.nome}}</h2>
                    <p>Categoria: <span class="text-blue-600">{{lugar.categoria}}</span></p>
                    <p>Localização: <span class="text-gray-500">{{lugar.localizacao}}</span></p>
                    <div class="mt-2 flex items-center">
                        <span class="text-yellow-500"[innerHTML]="getTotalEstrelas(lugar)"></span>
                        <span class="ml-2 text-gray-600"> {{lugar.avaliacao}}</span>
                    </div>
                </div>
    
            </div>
        }
    </div>