<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-2x1 font-semibold text-gray-700 mb-4">Nova Categoria</h2>
    <hr>
    <form [formGroup]="criarCategoriaForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Nome:</label>
            <input 
            type="text" 
            id="nome" 
            name="nome" 
            formControlName="nome" 
            placeholder="Ex: Restaurantes,Praias,Shopping" 
            class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-blue-400" 
            required>
            @if (isCampoInvalido('nome')) {
                <span class="text-red-500 text-sm">
                    Campo obrigatório
                </span>
            }
        </div>
        <!--Campo item formulário-->
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Descrição:</label>
            <textarea 
            type="text"
            rows="4"
            id="descricao" 
            name="descricao" 
            formControlName="descricao" 
            placeholder="Ex: Bela paisagem e ótimos preços" 
            class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-400" 
            required>
            </textarea>
            @if (isCampoInvalido('descricao')) {
                <span class="text-red-500 text-sm">
                    Campo obrigatório
                </span>
            }
        </div>
        <!-- Enviar formulário -->
        <div class="mb-4">
            <button 
             type="submit" 
             class="w-full p-2 rounded-lg shadow-lg bg-blue-600 text-white hover:bg-blue-800 hover:font-semibold hover:cursor-pointer">
                Cadastrar Categoria
            </button>
        </div>
    </form>
</div>