<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-2x1 font-semibold text-gray-700 mb-4">Novo lugar</h2>
    <hr>
    <form [formGroup]="criarLugarForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
            <label for="nome" class="block text-gray-600 font-medium mb-2">Nome:</label>
            <input 
            type="text"
            id="nome" 
            name="nome" 
            formControlName="nome" 
            placeholder="Ex: Praia do Sol, Restaurante Estrela" 
            class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-blue-400" 
            required>
            @if (isCampoInvalido('nome')) {
                <span class="text-red-500 text-sm">
                    Campo obrigatório
                </span>
            }
        </div>
        <div class="mb-4">
            <label for="categoria" class="block text-gray-600 font-medium mb-2">Categoria:</label>
        </div>
        <!--Campo item formulário-->
        <div class="mb-4">
            <label class="block text-gray-600 font-medium mb-2">Localizacao:</label>
            <input 
            type="text"
            id="localizacao" 
            name="localizacao" 
            formControlName="localizacao" 
            placeholder="Ex: São paulo" 
            class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-blue-400" 
            required>
            @if (isCampoInvalido('localizacao')) {
                <span class="text-red-500 text-sm">
                    Campo obrigatório
                </span>
            }
        </div>
        <div class="mb-4">
            <label for="urlFoto" class="block text-gray-600 font-medium mb-2">Link foto:</label>
            <input 
                type="text"
                id="urlFoto" 
                name="urlFoto" 
                formControlName="urlFoto" 
                placeholder="Ex: http://exemplo.com/foto.jpg" 
                class="w-full p-3 border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-blue-400" 
                required>
                @if (isCampoInvalido('urlFoto')) {
                    <span class="text-red-500 text-sm">
                        Campo obrigatório
                    </span>
                }
        </div>
        <div class="mb-4">
            <label for="avaliacao" class="block text-gray-600 font-medium mb-2">Avaliacao:</label>
        </div>
        <!-- Enviar formulário -->
        <div class="mb-4">
            <button 
             type="submit" 
             class="w-full p-2 rounded-lg shadow-lg bg-blue-600 text-white hover:bg-blue-800 hover:font-semibold hover:cursor-pointer">
                Cadastrar Lugar
            </button>
        </div>
    </form>
</div>